header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(black, #70040c);
}

header li, header div {
    display: inline-block;
}

img {
    width: 50px;
}

#left {
    float: left;
}

#center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

